*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    box-sizing: border-box;
    background-color: #000000;
    color: #f6f6f6;
}
.titulo-destaque{
    color: #22d4fd
}
.documentacao{
    margin: 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.apresentecao__conteudo {
    width: 615px;
    margin: 0 10px;
}
.apresentacao__conteudo__titulo {
    font-size: 35px;
    font-family: 'Krona One', sans-serif;
    margin: 25px 0;

}
.apresentacao__conteudo__texto {
    font-size: 23px;
    font-family: 'Montserrat', sans-serif;
    margin: 30px 0;
}
img {
    width: 532px;
    height: 467px;
    border-radius: 16px;
    box-shadow: 10px -10px #22d4fd;
    margin: 0 15px;

}
.apresentacao__links {
    display: flex;
    justify-content: space-between;

}
.apresentacao__links__link {
    background-color: #22d4fd;
    width: 280px;
    text-align: center;
    border-radius: 16px;
    font-size: 24px;
    padding: 21.5px 0;
    text-decoration: none;
    color: #000000;
    font-family: 'Montserrat', sans-serif;
    margin: 0 10px 0 0;
    font-weight: 600;
}
.apresentacao__links__link:hover {
    background-color: #474747c0;
    color: white;
    transition: 1s;
}


