*{
    margin: 0;
    padding: 0;
}
:root {
    --cor-primaria: #000000;
    --cor-secundaria: #ffffff; 
    --cor-terciaria: #17f5d0;

    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-scundaria: 'Montserrat', sans-serif;
}


body{
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria)
}
.cabecalho {
    margin: 2% 0% 0% 15%;
}
.cabecalho__menu {
    display: flex;
    gap: 80px;
}
.cabecalho__menu__link {
    font-size: 1.5rem;
    font-family: var(--fonte-scundaria);
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
}
.cabecalho__menu__link:hover {
    color: #3f3f3f;
    background-color: var(--cor-terciaria);
    border-radius: 8px;
    padding: 5px 5px;
}

.apresentacao{
    margin: 4% 15%;
    display: flex;
    gap: 84px ;
    align-items: center;
    justify-content: space-between;
    

}
.apresentecao__conteudo {
    width: 50%;
    margin: 0 10px;
}
.apresentacao__conteudo__titulo {
    font-size: 2.15rem;
    font-family: var(--fonte-primaria);
    margin: 25px 0;

}
.apresentacao__conteudo__texto {
    font-size: 1.5rem;
    font-family: var(--fonte-scundaria);
    font-weight: 400;
    margin: 30px 0;
}
.texto-destaque {
    font-style: italic;
    text-decoration: underline;
}
.titulo-destaque{
    color: var(--cor-terciaria);
}

.apresentacao__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32PX;

}
.apresentacao__conteudo__sub-titulo {
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 1.5rem;

}
.apresentacao__links__link {
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--cor-terciaria);
    width: 50%;
    text-align: center;
    border-radius: 16px;
    font-size: 1.5rem;
    padding: 21.5px 0;
    text-decoration: none;
    color: #f6f6f6;
    font-family: var(--fonte-scundaria);
    margin: 10px 0;
    font-weight: 600;
}
.apresentacao__links__link:hover {
    background-color: #3f3f3f;
   
}
.rodape {
    padding: 24px;
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    text-align: center;
    font-family: var(--fonte-scundaria);
    font-size: 1.5rem;
    font-weight: 400;

}
.foto-dev {
    width: 50%;
    height: 50%;
    border-radius: 16px;
    box-shadow: 10px -10px var(--cor-terciaria);
}

@media (max-width: 1200px) {
    .cabecalho {
        padding: 10%;
        margin: auto;
    }
    .cabecalho__menu {
        justify-content: center;
        display: flex;
        gap:20px
    }
    .apresentacao {
        flex-direction:column-reverse
    }
    .apresentacao__links__link {
        display: flex;
        justify-content: center;
        gap: 16px;
        border: 2px solid var(--cor-terciaria);
        width: 70%;

    }
}